<h1>Post a comment:</h1>

<form action="/comments" method="POST">
    <label for="inputName">Please enter your name here:</label>
    <input name="inputName" type="text">
    <label for="inputTitle">Please enter your thread title here:</label>
    <input name="inputTitle" type="text">
    <label for="inputText">Please type your comment here:</label>
    <input name="inputText" type="text">
    <input type="submit">
</form>
