<form action="/exec" method="POST" enctype="multipart/form-data">
    <label for="inputFile" >Please choose an input:</label>         <input id="fileIn" name="inputFile" type="file">
    <label for="progFile"  >Please choose a program to run:</label> <input id="fileIn" name="progFile" type="file">
    <label for="outputFile">Please choose a output:</label>         <input id="fileIn" name="outputFile" type="file">
    <input type="submit">
</form>